# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# Virtual Environment
# ==============================
venv/
env/
ENV/
.venv/

# ==============================
# Environment Variables
# ==============================
.env
.env.*

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDE / Editor
# ==============================
.vscode/
.idea/

# ==============================
# Model Files (Optional)
# ==============================
models/*.pkl

# ==============================
# Output Files
# ==============================
outputs/
app/static/images/

# ==============================
# Temporary Files
# ==============================
*.tmp
*.swp

# ==============================
# Testing / Coverage
# ==============================
.coverage
htmlcov/

# ==============================
# Build Files
# ==============================
dist/
build/
*.egg-info/
